.Controller {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;

  button {
    transition: background-color 0.25s ease-in-out;

    &:hover:enabled {
      background-color: rgba(0, 0, 0, 0.4);
    }
  }

  & > * {
    margin: 0 20px;
    padding: 0.5em 1em;
    font-size: 125%;
    border-radius: 4px;
  }
}
